# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
release
debian
bin
.vscode

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.swp
*.swo

*.exe
*.test

*.bak

# Python
__pycache__/
*.pyc
*.pyo

cmd/greyproxy/greyproxy
snap

*.pem
*.yaml
!.goreleaser.yaml
*.txt
dist/
/greyproxy.db
/greyproxy.db-shm
/greyproxy.db-wal
/conversation.db
/greyproxy
exported_logs/
/buildrun.sh
/greyproxy.log
/greyproxy.reload
